.container {
    display: flex;
}

.card {
    max-width: 800px;
    text-align: left;
}

.carousel {
    margin: 20px;
    border: 10px;
    border-radius: 2px;
    border-color: black;
}

.photoInfo {
    color: black;
    background-color: rgba(250, 250, 250, 0.3)
}

.profilePhoto {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.cardHeader {
    display: inline-flex;
    justify-items: left;
    align-items: center;
}

.cardHeaderName {
    display: block;
    padding-left: 10px;
}

.name {
    font-size: larger;
}

.infospace {
    padding-left: 3px;
}

.location {
    font-size: small;
}

.title {
    padding-bottom: 4px;
    border-bottom: #e7e7e7 solid 1px;
}

.tags {
    display: inline-flex;
    padding-top: 4px;
}

.tag {
    text-transform: lowercase;
    margin-left: 3px;
    font-size: smaller;
    background-color: #e7e7e7;
    padding: 2%;
    color: black;
    border-radius: 10%;
    white-space: nowrap; 
}